extends layout/main

mixin navLink(link, name)
  li
    a(href=link).nav-link=name

block header
  .header
    .leftHead
      img(src='../imgs/Ellipse 1.png').logo-img
      p.p-logo ОптиМилк
    .rightHead
      ul.nav
        +navLink('#','Главная')
        +navLink('#','О компании')
        +navLink('#','Компоненты')
        +navLink('#','Услуги')
        +navLink('#','Новости')
        +navLink('#','Контакты')
  h1.h1-style ОптиМилк - эксклюзивный дистрибьютер заквасок компании ALCE в Республике Беларусь
  section
    article.art-style
      .p-culture Заквасочные культуры, производимые в соответствии с мировыми стандартами и богатым опытом лучших итальянских молочников
      button.art-button Узнать больше
    .imgs-block
      img(src='').main-img
      img(src='').sec-img
      img(src='').sec-img
    article.sec-art
      .p-comp Компоненты
      .p-ingrid Ингредиенты для производства качественной молочной продукции
    .zakvaski-flex
      button.zakv-button1 Закваски
      button.zakv-button2 Ферменты
      button.zakv-button3 Наполнители
  section
    .p-comp О компании
    article.distrib
      h2.h2-distrib ОптиМилк - ваш надёжный поставщик инновационных решений в молочной сфере
      .p-distrib Компания ОптиМилк специализируется на производстве и реализации компонентов для молочной промышленности производства компании ALCE (Италия), разработке новых технологий, технической документации, декларировании и проведении испытаний ингредиентов собственного производства в соответствии с европейскими и отечественными стандартами качества. Клиентоориентированность, научный подход, инновации и передовые технологии, гарантированный результат, постоянный рост и развитие - главные эпитеты, достоверно описывающие вектор деятельности компании ООО “ОптиМилк”
      .numbers-distrib
        .first-num >12 лет
          p.p-under-num успешного опыта по всей Беларуси
        .second-num >20
          p.p-under-num постоянных партнёров
        .third-num >300
          p.p-under-num возможных видов продукции
  section
    article.third-art
      .p-comp наши услуги
      .p-ingrid Предоставляем перечень услуг по разработке технологий, документации, декларированию
    .zayavki-flex
      .zay-1
        h4.h4-zay Разработка и освоение новых технологий
        p.p-zay Помощь в разработке и освоении новых технологий производства молочных продуктов
        button.button-zay Оставить заявку
      .zay-2
        h4.h4-zay Разработка и актуализация документации (ТУ, ТИ, РЦ)
        p.p-zay Разработка и актуализация технологической документации (ТД):технические условия на продукцию (ТУ), технологические инструкции (ТИ) и рецептуры (РЦ)
        button.button-zay Оставить заявку
      .zay-3
        h4.h4-zay Декларирование ингредиентов, упаковки для молочной промышленности
        p.p-zay Декларирование и проведение испытаний (предоставление протоколов) на используемые в производстве ингредиенты (компоненты)
        button.button-zay Оставить заявку
  section
    article.fourth-art
      .p-comp новости
      .p-ingrid Актуальные новости и события в сфере молочной промышленности
    .fourth-sect-imgs
      .f-img-1
        .p-div-1 О чем говорит рисунок сыра
        .p-div-hash #интересное
      .f-img-2
        .p-div-1 Разработка и производство заквасок для кисломолочных продуктов
        .p-div-hash #технологии
      .f-img-3
        .p-div-1 Магнитные микроботы против опасных бактерий в молоке
        .p-div-2 Крошечные системы из намагниченных частиц и иммуноглобулинов позволят легко и дешево удалять из молока и молочных продуктов клетки золотистых стафилококков.
        .p-div-hash #инновации

block scripts